@charset "utf-8";
/* CSS Document */

/* BASIC / GLOBAL STYLES ----------------------------------------*/

* {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	line-height: 15px;
}

a {
	outline: none;
}

p img {
	outline: none;
	border: none;
	max-width: 100%;
	margin: 0 10px 10px 0;
	float: left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}